.centerAbs {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0; }

.ellipseContainer,
.rectContainer {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 40px;
  display: inline-block; }

.ellipse {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius: 300px / 300px;
  border: 3px solid; }

.ellipse::before,
.ellipse::after,
.rect::before,
.rect::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 20px;
  border: 2px solid;
  offset-path: path("M 150 0 A 150, 150 0 1, 0 150, 300 A 150, 150 0 1, 0 150, 0");
  animation: followpath 3s linear infinite;
  position: absolute; }

.ellipse::after {
  offset-path: path("M 150 300 A 150, 150 0 1, 0 150, 0 A 150, 150 0 1, 0 150, 300"); }

.rect {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /*border-radius: 300px / 300px;*/
  border: 3px solid; }

.rect::before,
.rect::after {
  offset-path: path("M 0, 0 300, 0 300, 300 0, 300 0, 0"); }

.rect::after {
  offset-path: path("M 300, 300 0, 300 0, 0 300, 0 300, 300"); }

@keyframes followpath {
  to {
    motion-offset: 100%;
    offset-distance: 100%; } }
